QQZone/.DS_Store*
QQZone/node_modules
QQZone/npm-debug.log
QQZone/src/common/config.js
QQZone/docs/
QQZone/src/schemes/


zhihu/.DS_Store*
zhihu/node_modules
zhihu/npm-debug.log
zhihu/src/common/config.js
zhihu/docs/
zhihu/src/schemes/
zhihu/dump.rdb